@import '../App.scss';

.Contact {
  color: $text-color;
  width: 65vw;
  text-align: right;

  p {
    // font-size: 1.4em;
    margin: .3em 0 .3em 0;
  }

  h2 {
    font-weight: 600;
    margin: .3em 0 .3em 0;
  }

  h4 {
    margin: 0 .3em 0 .3em;
  }
}

.contact-button {
  display: flex;
  align-items: center;
  justify-content: flex-end;

  margin-right: -0.3em;
  // font-size: 1.3em;
  text-align: left;
  color: $text-color;
}

a {
  color: $body-color;
}