@import '../App.scss';

.Navbar {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100vw;
  background-color: $light-orange;
  color: $text-color;

  :hover {
    color: $body-color;
  }

  .menu-icon {
    display: flex;
    align-items: center;
    
    height: 2.5em;
    width: 3.5em;
    margin: 0 2em 0 2em;
    padding: 2em 0 2em 0;
  }

  .envelope {
    height: 3rem;
    width: 5rem;
  }

  .brain {
    height: 2.5rem;
    width: 3.5rem;
  }

  .terminal {
    height: 2.3rem;
    width: 3.5rem;
  }

  .cap {
    height: 3.1rem;
    width: 3.5rem;
  }

  .laptop {
    height: 2.9rem;
    width: 3.3rem;
  }
}