@import '../../styles/Colors.scss';

.carousel-control {
  background-color: transparent;
  border: none;
  display: inline-block;
  position: absolute;
  top: calc(50% - 25px);
  color: $lightBlue;
  cursor: pointer;
  font-size: 4rem;
}

.left {
  left: 2.5vw;
}

.right {
  right: 2.5vw;
}