@import '../../styles/Colors.scss';

.carousel-control {
  background-color: transparent;
  border: none;
  display: inline-block;
  position: absolute;
  top: calc(50% - 25px);
  color: $mediumBlue;
  cursor: pointer;
  font-size: 3rem;
}

.left {
  left: 3vw;
}

.right {
  right: 3vw;
}