@import '../App.scss';

.Experience {
  display: flex;
  flex-direction: column;

  width: 90%;

  .experience-content {
    display: flex;
    
    width: 100%;
  }

  .invisible-top {
    background-color: $body-color;
    height: 1.2em;
    width: 2em;
    position: relative;
    bottom: -1.2em;
    right: -7em;
  }
  
  .invisible-bottom {
    background-color: $body-color;
    height: 1em;
    position: relative;
    bottom: 1em;
  }
}