@import '../App.scss';

.Details {
  text-align: left;
  //padding-left: 1.5em;
  border-left: 2px solid $text-color;

  span {
    font-weight: 700;
  }

  p {
    //margin-top: .3em;
  }
} 

header {
  display: flex;

  img {
    width: 4.5em;
    height: 4em;
    border: 1px solid $text-color;
    //margin-right: .5em;
    //margin-top: .5em;
  }

  .job-info {
    display: flex;
    flex-direction: column;

    h1 {
      //margin-top: .3em;
      width: 100%;
    }

    h3 {
      //margin-top: -0.9em;
    }
  }
}