@import '../App.scss';

.Timeline {
  display: flex;

  width: 15%;

  aside {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: right;
    
    text-align: right;
    width: 90%;

    h3 {
      text-align: right;
      margin-top: .65em;
    }

    .year2 {
      margin-top: -.5em;
    }

    .down-arrow {
      margin: -1.8em 0 .9em 0;
    }

  }

  .chevron {
    position: relative;
    top: 1.1em;
    right: -.75em;
  }
}