@-webkit-keyframes blink {
  to {
    visibility: hidden;
  }
}

@keyframes blink {
  to {
    visibility: hidden;
  }
}

@-webkit-keyframes float {
  50% {
    -webkit-transform: translateY(30px);
  }
}

@keyframes float {
  50% {
    transform: translateY(30px);
  }
}

@keyframes switch {

  0%,
  5%,
  100% {
    filter: blur(0px);
    opacity: 1;
  }

  50%,
  80% {
    filter: blur(180px);
    opacity: 0;
  }
}