//logo blink
@-webkit-keyframes blink {
  to {
    visibility: hidden;
  }
}

@keyframes blink {
  to {
    visibility: hidden;
  }
}

//for scrolling text on home page
@keyframes scroll {

  0%,
  9%,
  100% {
    transform: translateY(0);
  }

  18% {
    transform: translateY(-17%);
  }

  27% {
    transform: translateY(-33%);
  }

  36% {
    transform: translateY(-50%);
  }

  45% {
    transform: translateY(-67.5%);
  }

  54% {
    transform: translateY(-84.5%);
  }

  63% {
    transform: translateY(-67.5%);
  }

  72% {
    transform: translateY(-50%);
  }

  81% {
    transform: translateY(-33%);
  }

  90% {
    transform: translateY(-17%);
  }
}

@-webkit-keyframes scroll {

  0%,
  9%,
  100% {
    -webkit-transform: translateY(0);
  }

  18% {
    -webkit-transform: translateY(-16%);
  }

  27% {
    -webkit-transform: translateY(-33%);
  }

  36% {
    -webkit-transform: translateY(-50%);
  }

  45% {
    -webkit-transform: translateY(-68%);
  }

  54% {
    -webkit-transform: translateY(-85%);
  }

  63% {
    -webkit-transform: translateY(-68%);
  }

  72% {
    -webkit-transform: translateY(-50%);
  }

  81% {
    -webkit-transform: translateY(-33%);
  }

  90% {
    -webkit-transform: translateY(-16%);
  }
}

//hamburger menu
@keyframes openMenu {
  0% {
    width: 6rem;
    height: 6rem;
    transform: rotate(0);
    top: 0;
    right: 0;
  }

  100% {
    width: 40rem;
    height: 70rem;
    transform: rotate(-15deg);
    top: -15vh;
    right: -33vw;
  }
}

@keyframes closeMenu {
  0% {
    width: 40rem;
    height: 70rem;
    transform: rotate(-15deg);
    top: -15vh;
    right: -33vw;
  }

  100% {
    width: 6rem;
    height: 6rem;
    transform: rotate(0);
    top: 0;
    right: 0;
  }
}