//logo blink
@-webkit-keyframes blink {
  to {
    visibility: hidden;
  }
}

@keyframes blink {
  to {
    visibility: hidden;
  }
}

//for changing text on home page
@keyframes switch {

  0%,
  5%,
  100% {
    filter: blur(0px);
    opacity: 1;
  }

  50%,
  80% {
    filter: blur(180px);
    opacity: 0;
  }
}