.page-content {
  justify-content: space-evenly;
  align-items: center;

  .intro-text {
    color: $darkBlue;
    z-index: 1;
  
    .changing-text {
      height: 3.7rem;
      color: $mediumBlue;
      overflow: hidden;
      
      ul {
        margin: 0;
        padding: 0;
        animation: scroll 15s infinite;

        li {
          height: 3.7rem;
        }
      }
    }
  }
  
  .intro-img {
    height: 17rem;
    width: 17rem;
    border-radius: 50%;
  }
}