.page-content {
  justify-content: space-evenly;
  align-items: center;

  .intro-text {
    color: $darkBlue;
  
    div {
      margin: 1em 0;
    }
  
    .changing-text {
      filter: contrast(15);
      height: .5em;
  
      span {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        animation: switch 9s infinite ease-in-out;
        min-width: 100%;
        margin: auto;
      }
  
      span:nth-child(1) {
        animation-delay: -8.5s;
      }
  
      span:nth-child(2) {
        animation-delay: -7s;
      }
  
      span:nth-child(3) {
        animation-delay: -5.5s;
      }
  
      span:nth-child(4) {
        animation-delay: -4s;
      }
  
      span:nth-child(5) {
        animation-delay: -2.5s;
      }
  
      span:nth-child(6) {
        animation-delay: -1s;
      }
    }
  }
  
  .intro-img {
    height: 17rem;
    width: 17rem;
    border-radius: 50%;
  }
}