header {
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
  align-self: flex-start;

  width: 100%;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  padding: 5px;
  color: $mediumBlue;
  font-family: 'Chakra Petch';

  .fa-chevron-right {
    font-size: 1.7rem;
  }

  .blinking {
    -webkit-animation: blink 2s steps(5, start) infinite;
    animation: blink 2s steps(5, start) infinite;
    font-size: 2rem;
  }

  .logo {
    font-size: 3rem;

    &:hover {
      text-shadow: 0px 0px 10px $lightBlue;
    }
  }
}