header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: flex-start;

  width: 100%;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  // color: $mediumBlue;
  font-family: 'Chakra Petch';

  .fa-chevron-right {
    font-size: 1.7rem;
  }

  .blinking {
    -webkit-animation: blink 2s steps(5, start) infinite;
    animation: blink 2s steps(5, start) infinite;
    font-size: 2rem;
  }

  .logo {
    font-size: 3rem;
  }
}