.menu {
  justify-content: space-between;

  font-family: 'Tilt Neon';
  font-size: 2rem;
  margin: 0;

  a.active, a:visited.active  {
    border-bottom: 5px solid $darkBlue;
  }

  a, a:visited {
    color: $darkBlue;
  }

  li {
    padding: 0 .5rem;
  }
}

.hamburger {
  width: 5rem;
  height: 5rem;
  background-color: $darkYellow;

  .burger-line {
    width: 2rem;
    height: .32rem;
    border-radius: 10px;
    background-color: $darkBlue;
    margin: .15rem 0;
  }
}

nav {
  justify-self: center;
}