$body-color: #F6F8F2;
$text-color: #2A2A28;
$light-orange: #F88E2C;
$dark-orange: #E87D2D;
$light-blue: #115E8C;
$dark-blue: #105570;
$light-red: #F24A56;
$dark-red: #DB4355;
$light-green: #44C3D0;
$dark-green: #41B0AF;


$title-font: 'Alegreya Sans SC', sans-serif;
$paragraph-font: 'Quicksand', sans-serif;

.App {
  display: flex;
  flex-direction: column;
  align-items: center;

  font-family: $paragraph-font;
  background-color: $body-color;
  text-align: center;
  width: 100vw;
  padding: 0px auto;
  margin: 0px auto;
}

h1 {
  font-family: $title-font;
  font-weight: 600;
  font-size: 1.8em;
}

h2 {
  font-weight: 600;
  font-size: 1.5em;
}

h3 {
  font-weight: 600;
  font-size: 1.2em;
}

p {
  font-size: 1.3em;
}
