$body-color: #F6F8F2;
$text-color: #2A2A28;
$light-orange: #F88E2C;
$dark-orange: #E87D2D;
$light-blue: #115E8C;
$dark-blue: #105570;
$light-red: #F24A56;
$dark-red: #DB4355;
$light-green: #44C3D0;
$dark-green: #41B0AF;


$title-font: 'Alegreya Sans SC', sans-serif;
$paragraph-font: 'Quicksand', sans-serif;

.App {
  display: flex;

  font-family: $paragraph-font;
  color: $text-color;
  background-color: $body-color;
  text-align: center;

  /* Small screens */
  @media only screen and (max-width: 749px) {
  
    flex-direction: column;
    align-items: center;
    
    padding: 0 auto;
    margin: 0 auto;
    width: 100%;

    .Navbar {
      align-items: center;
      justify-content: center;

      width: 100%;
      padding: 1.5em 0 1.5em 0;
    }
  
    .Info {
      flex-direction: column;
      align-items: center;
      justify-content: center;

      .hide-on-mobile {
        display: none;
      }

      .hide-on-desktop {
        order: -1;
        font-size: 2.5em;
      }

      img {
        order: 0;
      }

      .Contact {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        p {
          margin-top: -0.7em;
        }

        .contact-button {
          margin-top: -0.9em;
          font-size: 1.2em;
        }
      }

      .Social {
        order: 1;

        font-size: 2em;
        padding: .4em 0 .7em 0;

        a {
          padding: 0 .4em 0 .4em;
        }
      }
    }

    .Summary {
      flex-direction: column;
      align-items: center;
      justify-content: center;

      article {
        padding: 0 3em 2em 3em;
      }
    }
  }

  /* Tablet view */
  @media only screen and (min-width: 750px) and (max-width: 1024px) {

    flex-direction: column;
    align-items: center;

    padding: 0 auto;
    margin: 0 auto;

    .Navbar {
      align-items: center;
      justify-content: center;

      width: 100%;
      padding: 1.5em 0 1.5em 0;
    }
  
    .Info {
      flex-direction: column;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-evenly;

      padding: 3em 0 3em 0;
      height: 15em;

      .hide-on-desktop {
        display: none;
      }

      img {
        order: -1;
      }

      .Contact {
        display: flex;
        flex-direction: column;

        order: 1;
        justify-self: center;

        text-align: right;

        h1 {
          font-size: 2em;
          margin-bottom: -0.1em;
        }

        h2 {
          margin-bottom: -0.6em;
        }

        .contact-button {
          align-self: flex-end;

          font-size: 1.2em;
          margin-right: -0.5em;
        }
      }

      .Social {
        order: 0;
        font-size: 2em;

        a {
          padding: 0 .7em 0 .7em;
        }
      }
    }

    .Summary {

      article {
        padding: 0 4em 3em 4em;
      }
    }
  }

  /* Desktop view */
  @media only screen and (min-width: 1025px) {

    flex-direction: row;

    border: 2px solid purple;

    .Navbar {
      flex-direction: column;

      order: 1;

      width: 25%;
      border: 2px solid green;
    }

    .Home {
      display: flex;
    }

    .Info {
      flex-direction: column;

      order: -1;

      width: 30%;
      border: 2px solid blue;
    }

    .Summary {
      order: 0;

      width: 75%;
      border: 2px solid red;
    }


  }
}

h1 {
  font-family: $title-font;
  font-weight: 600;
  font-size: 1.8em;
}

h2 {
  font-weight: 600;
  font-size: 1.5em;
}

h3 {
  font-weight: 600;
  font-size: 1.2em;
}

p {
  font-size: 1.3em;
}

a {
  color: $text-color;

  :hover {
    color: $body-color;
  }
}
