$body-color: #F6F8F2;
$text-color: #2A2A28;
$light-orange: #F88E2C;
$dark-orange: #E87D2D;
$light-blue: #115E8C;
$dark-blue: #105570;
$light-red: #F24A56;
$dark-red: #DB4355;
$light-green: #44C3D0;
$dark-green: #41B0AF;


$title-font: 'Alegreya Sans SC', sans-serif;
$paragraph-font: 'Quicksand', sans-serif;

.App {
  display: flex;

  font-family: $paragraph-font;
  color: $text-color;
  background-color: $body-color;
  text-align: center;

  /* Small screens */
  @media only screen and (max-width: 749px) {
  
    flex-direction: column;
    align-items: center;
    
    padding: 0 auto;
    margin: 0 auto;
    border: 2px solid purple;

    .Navbar {
      align-items: center;
      justify-content: center;

      width: 100%;
      //font-size: .5em;
      // //padding-left: 8em;
    }
  
    .Info {
      flex-direction: column;
      align-items: center;
      justify-content: center;

      // //padding-bottom: 2em;
      // //padding-left: .5em;
      width: auto;

      .hide-on-mobile {
        display: none;
      }

      .hide-on-desktop {
        order: -1;
        //font-size: 2em;
        // //padding-top: .5em;
      }

      img {
        order: 0;
        //margin-left: 10.5em;
      }

      p {
        //font-size: 1.5em;
      }

      .Contact {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        //padding-top: 1.5em;

        .Button {
          //font-size: 1.3em;
        }
      }

      .Social {
        order: 1;
        //font-size: 1.3em;
        //padding-top: .5em;
      }
    }

    .Summary {
      flex-direction: column;
      align-items: center;
      justify-content: center;

      article {
        //margin-left: 2.7em;
        //margin-bottom: 2em;
      }
    }
  }

  /* Tablet view */
  @media only screen and (min-width: 750px) and (max-width: 1024px) {

    flex-direction: column;
    align-items: center;

    //padding: 0 auto;
    //margin: 0 auto;
    border: 2px solid purple;

    .Navbar {
      width: 104em;
      //font-size: .5em;
      //padding-left: 24em;
    }
  
    .Info {
      flex-direction: column;
      flex-wrap: wrap;

      //padding-bottom: 2em;
      //margin-left: -10.5em;

      .hide-on-desktop {
        display: none;
      }

      img {
        order: -1;
        //margin-left: 18em;
        //margin-top: 2em;
      }

      p {
        //font-size: 1.5em;
      }

      .Contact {
        display: flex;
        flex-direction: column;
        align-items: center;

        order: 1;

        text-align: right;
        //margin-left: 10em;
        //margin-top: -15em;
        //margin-bottom: 3em;

        .Button {
          //font-size: 1.3em;
        }
      }

      .Social {
        order: 0;

        //font-size: 1.3em;
        //padding-top: .5em;
        //margin-left: -21em;
      }
    }

    .Summary {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;

      article {
        //padding-bottom: 4em;
        //margin-left: 3em;
        width: 65%;
      }
    }
  }

  /* Desktop view */
  @media only screen and (min-width: 1025px) {

    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;

    border: 2px solid purple;


    .Info {
      flex-direction: column;

      order: -1;

      width: 20%;
      border: 2px solid blue;
    }

    .Summary {
      order: 0;

      width: 50%;
      border: 2px solid red;
    }

    .Navbar {
      flex-direction: column;

      order: 1;

      width: 10%;
      border: 2px solid green;
    }

  }
}

h1 {
  font-family: $title-font;
  font-weight: 600;
  //font-size: 1.8em;
}

h2 {
  font-weight: 600;
  //font-size: 1.5em;
}

h3 {
  font-weight: 600;
  //font-size: 1.2em;
}

p {
  //font-size: 1.3em;
}

a {
  color: $text-color;

  :hover {
    color: $body-color;
  }
}
