@import './App.scss';

.Info {
  background-color: #F8DB8C;
  color: $text-color;
  background-image: url("https://www.transparenttextures.com/patterns/arches.png");
  width: 100vw;
  padding: 2em 0 2em 0;

  img {
    border-radius: 50%;
    width: 200px;
  }

  h1 {
    padding-top: 1em;
  }

  h2 {
    font-weight: 600;
    margin: 0px auto;
    padding-top: .3em;
  }
}