@import './App.scss';

.Navbar {
  display: flex;

  background-color: $light-orange;

  :hover {
    color: $body-color;
  }

  .menu-icon {
    display: flex;
    align-items: center;
    
    height: 3rem;
    width: 5.5rem;
  }

  .home {
    height: 2.5rem;
    width: 3.5rem;
    padding-left: .5em;
  }

  .brain {
    height: 2.3rem;
    width: 3.5rem;
    padding-left: .5em;
  }

  .terminal {
    height: 2.1rem;
    width: 3.5rem;
    padding-left: .5em;
  }

  .cap {
    height: 3rem;
    width: 3.5rem;
    padding-left: .5em;
  }

  .laptop {
    height: 2.3rem;
    width: 3.5rem;
    padding-left: .5em;
  }
}