@import './App.scss';

.Skill {
  display: flex;
  align-items: flex-start;
  background: $info-color;
  box-shadow: 5px 5px 8px #888888;
}

.rectangle {
  width: 20em;
  height: 5em;
}

.skill-text {
  position: relative;
  top: -0.3em;
  left: -19em;
  color:$text-color;
  font-weight: 700;
  border-bottom: 1px solid $text-color;
}