@import './App.scss';

.Skills {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 93vw;

  .skills-text {
    text-align: right;
    margin-top: -0.7em;;
  }

  h3 {
    color: $body-color;
    margin-top: 1.3em;
  }

  .move-right{
    position: relative;
    right: -3em;
  }

  .move-up {
    margin-top: -0.7em;
  }

  img {
    height: 50vh;
    margin: 1em 0 1em 0;
  }
}