div.skills {
  justify-content: center;

  .profile {
    margin: .5rem 0;
    font-weight: 500;
  }

  span.logos {
    margin: 0 1.2rem;

    img.logo {
      height: 3.5rem;
      width: auto;
    }
  }

  h2.full-width {
    text-align: center;
  }
  
  .languages {
    margin-top: 3rem;
    margin-bottom: 1rem;
  }
  
  .test {
    margin-top: 1rem;
    margin-bottom: 2rem;
  }
}