@import '../App.scss';

.Languages {
  display: flex;
  flex-direction: column;

  width: 50%;

  .lang-content {
    display: flex;

    width: 90%;

    .lang-list {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
  
      li {
        list-style: none;
        text-align: center;
        font-family: $title-font;
        font-weight: 700;
        //padding: .4em 0 .4em 0;
      }
    }
  
    .lang-bars {
      width: 60%;
      color:$dark-green;
    }

    .lang-levels {
      text-align: left;
      //font-size: .69em;
      position: relative;
      right: -2em;
    }
  }
}