@import '../App.scss';

.TechSkills {
  display: flex;

  .skills-text {
    text-align: right;
    //margin-top: -0.7em;
    width: 25em;
  }

  h3 {
    color: $body-color;
    //margin-top: 1em;
  }
  
  h2 {
    //font-size: 1.3em;
    //margin-top: -0.7em;
  }

  .move-right{
    position: relative;
    right: -3em;
  }

  .move-up {
    //margin-top: -0.7em;
    position: relative;
    right: -1em;
    width: 18.5em;
  }

  img {
    height: 50vh;
    //margin: 1em 0 1em 0;
  }
}