body {
  background-color: #2e4057;
}

.App {
  display: flex;

  width: 95vw;
  height: 90vh;
  margin: auto;
  margin-top: 5vh;

  border: 1px solid red;
}

header {
  width: 15%;

  border: 1px solid blue;
}

.main-content {
  width: 70%;

  border: 1px solid orange;
}

.about {
  height: 100vh;
}

.navigation {
  width: 15%;

  border: 1px solid green;
}
