@import './styles/Animations.scss';
@import './styles/Colors.scss';
@import './components/Header/Header.scss';
@import './components/Footer/Footer.scss';
@import './components/Navbar/Navbar.scss';
@import './pages/Home/Home.scss';
@import './pages/About/About.scss';
@import './pages/Skills/Skills.scss';
@import './pages/Contact/Contact.scss';
@import './pages/Portfolio/Portfolio.scss';

body {
  background-color: $darkGray;
  background-image: url(./img/dark-mosaic.png);
  color: $lightBlue;
}

a,
a:visited {
  text-decoration: none;
  color: $lightBlue;
}

ul {
  list-style-type: none;
}

// general text styles
.large-text {
  font-size: large;
}

.x-large-text {
  font-size: x-large;
}


.xx-large-text {
  font-size: xx-large;
}

.largest-text {
  font-size: xxx-large;
}

.bold {
  font-weight: bold;
}
//

//general flex styles
.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.wrap {
  flex-wrap: wrap;
}

.align-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}
//

.hidden {
  visibility: hidden;
}

.full-width {
  width: 100%;
}

.underline {
  text-decoration: underline;
}

.App {
  justify-content: space-between;

  width: 95vw;
  height: 90vh;
  margin: auto;
  margin-top: 5vh;
  overflow: hidden;
  
  .main-content {
    width: 100%;
    
    .page-content {
      justify-content: space-between;
      align-items: center;
    
      width: 90%;
    }
  }
}