@import './styles/Animations.scss';
@import './styles/Colors.scss';
@import './components/Header/Header.scss';
@import './components/Footer/Footer.scss';
@import './components/Navbar/Navbar.scss';
@import './pages/Home/Home.scss';
@import './pages/About/About.scss';
@import './pages/Skills/Skills.scss';
@import './pages/Contact/Contact.scss';
@import './pages/Projects/Projects.scss';
@import './components/Slide/Slide.scss';
@import './components/CarouselControls/CarouselControls.scss';
@import './components/CarouselIndicators/CarouselIndicators.scss';
@import './pages/404/404.scss';

a,
a:visited {
  text-decoration: none;
  color: $darkBlue;
}

ul {
  list-style-type: none;
}

// general text styles
.large-text {
  font-size: large;
}

.x-large-text {
  font-size: x-large;
}

.xx-large-text {
  font-size: xx-large;
}

.largest-text {
  font-size: xxx-large;
}

.bold {
  font-weight: bold;
}

//

//general flex styles
.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.wrap {
  flex-wrap: wrap;
}

.align-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.center-xy {
  align-items: center;
  justify-content: center;
}

// general color styles
.blue-bckgrd {
  background-color: $lightBlue;
}

.yellow-bckgrd {
  background-color: $lightYellow;
}

.dark-bckgrd {
  background-color: $darkBlue;
}
//

.hidden {
  visibility: hidden;
}

.full-width {
  width: 100%;
}

.underline {
  text-decoration: underline;
}

.App {
  justify-content: space-between;

  width: 95vw;
  height: 95vh;
  margin: auto;
  margin-top: 2vh;
  // overflow: hidden;

  .menu-bckgrd {
    position: absolute;
    top: 0;
    right: 0;
    height: 10rem;
    width: 40rem;
    background-color: $darkYellow;
    opacity: 30%;
  }

  .hamburger-bckgrd {
    position: absolute;
    top: 0;
    right: 0;
    width: 6rem;
    height: 6rem;
    background-color: $darkYellow;
    opacity: 30%;
    display: none;
  }

  .footer-bckgrd {
    position: absolute;
    bottom: -14rem;
    left: -9rem;
    height: 25rem;
    width: 25rem;
    background-color: $darkYellow;
    opacity: 20%;
    border-radius: 50%;
  }

  .main-content {
    width: 100%;
    height: 86%;

    .page-content {
      width: 100%;
    }
  }
}

// average desktop
@media only screen and (max-width: 1440px) {
  .intro-text {
    font-size: 3rem;
  }
}

// average laptop
@media only screen and (max-width: 1366px) {
  .intro-text {
    font-size: 2.5rem;
  }
}

// tablets
@media only screen and (max-width: 1280px) {
  .App {
    header {
      .logo {
        font-size: 2.5rem;
      }
    
      .menu {
        font-size: 1.5rem;
      }
    } 
  
    .intro-text {
      font-size: 2.5rem;
    }
  
    .menu-bckgrd {
      width: 28rem;
      height: 8rem;
    }
  
    .footer-bckgrd {
      width: 23rem;
      height: 23rem;
    }
  }
}

// large mobile
@media only screen and (max-width: 810px) {
  .App {
    .menu-bckgrd {
      display: none;
    }
  
    .hamburger-bckgrd {
      display: block;
    }
  }
  
  header {
    .logo {
      font-size: 2.5rem;
    }

    .menu {
      font-size: 1.5rem;
    }
  }
  
  .page-content {
    flex-direction: column-reverse;

    .intro-text {
      font-size: 2.5rem;
      text-align: center;
    }
  }
}