body {
  background-color: #2e4057;
  color: #e0fbfc;
}

a,
a:visited {
  text-decoration: none;
  color: #e0fbfc;
}

a:hover {
  color: #FFC15E;
}

ul {
  list-style-type: none;
}

.large {
  font-size: large;
}

.x-large {
  font-size: xx-large;
}

.largest {
  font-size: xxx-large;
}

.bold {
  font-weight: bold;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.hidden {
  visibility: hidden;
}

.App {
  justify-content: space-between;

  width: 95vw;
  height: 90vh;
  margin: auto;
  margin-top: 5vh;
}

header {
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
  align-self: flex-start;

  width: 100%;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  padding: 5px;
  color: #e0fbfc;
}

.fa-chevron-right {
  font-size: 1.8em;
}

.blinking {
  -webkit-animation: blink 1.5s steps(5, start) infinite;
  animation: blink 1.5s steps(5, start) infinite;
  font-size: 1.7em;
}

.logo {
  font-size: 2.3em;
}

.links a {
  display: inline-flex;

  width: 2em;
  height: 1em;
}

.main-content {
  width: 100%;
}

.page-content {
  justify-content: space-between;
  align-items: center;

  width: 90%;
}

.intro-text {
  margin-left: 2em;
}

.intro-imgs {
  flex-wrap: wrap;

  width: 65%;
  height: 100%;
}

.intro-img {
  height: 14em;
  width: 14em;
  border-radius: 50%;
  position: relative;
  top: 11em;
}

.intro-svg {
  border-radius: 50%;
  background-color: #e0fbfc;
  color: #2E4057;
  font-size: 5em;
  padding: 0.5em;
}

.about {
  position: relative;
  left: 2em;
  bottom: 1em;
}

.resume {
  position: relative;
  left: 5em;
  bottom: 0.5em;
}

.portfolio {
  position: relative;
  top: 5em;
  left: 4em;
}

.contact {
  position: relative;
  top: 6em;
  right: 4.5em;
}

.intro-img p {
  font-size: 5em;
  margin: 0 auto;
  padding-top: 0.35em;
  color: #2E4057;
}

.navigation {
  align-self: center;

  width: 10%;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.menu {
  align-items: flex-end;
  justify-content: space-between;

  height: 50vh;
}

/* Animations */
@-webkit-keyframes blink {
  to {
    visibility: hidden;
  }
}

@keyframes blink {
  to {
    visibility: hidden;
  }
}