@font-face {
  font-family: 'Chakra Petch';
  src: local("Chakra_Petch"),
   url("./fonts/Chakra_Petch/ChakraPetch-Bold.ttf") format("truetype");
  font-weight: bold;
 }

 @font-face {
  font-family: 'Tilt Neon';
  src: local("Tilt_Neon"),
   url("./fonts/Tilt_Neon/TiltNeon-Regular-VariableFont_XROT\,YROT.ttf") format("truetype");
 }

 @font-face {
  font-family: 'Quicksand';
  src: local("Quicksand"),
   url("./fonts/Quicksand/Quicksand-VariableFont_wght.ttf") format("truetype");
 }

body {
  margin: 0;
  font-family: 'Quicksand';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
