.carousel-item {
  display: inline-flex;
  align-items: center;
  justify-content: space-evenly;

  width: 100%;
  height: 100%;

  .slide-text {
    width: 35%;

    p {
      white-space: normal;
    }
  }
}

// reverse slide elements order on even slides
.reverse {
  flex-direction: row-reverse;
  align-items: baseline;

  .slide-text {
    align-self: flex-start;
    position: relative;
    top: 15%;
  }
}