.slide-content {
  justify-content: space-evenly;
  align-content: center;
  width: 95vw;
  height: 35vw;
}

.slide-text {
  width: 50rem;
  text-align: center;

  .slide-title {
    font-size: 2rem;
    font-weight: normal;
    letter-spacing: 0.2ch;
    text-transform: uppercase;
    margin: 0;
  }

  .slide-description {
    margin: 0;
    font-size: 1.5rem;
    letter-spacing: 0.2ch;
    margin: 2rem 0;
  }

  .slide-stack {
    font-size: 1.3rem;

    >span {
      font-weight: bold;
    }
  }
}

.slide-image {
  width:60%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}

.slide[data-active] {
  z-index: 2;
  pointer-events: auto;

  .slideBackground {
    opacity: 0.2;
    transform: none;
  }

  .slideContentInner {
    opacity: 1;
  }

  .slideContent {
    --x: calc(var(--px) - 0.5);
    --y: calc(var(--py) - 0.5);
    opacity: 1;

    transform: perspective(1000px);

    &:hover {
      transition: none;
      transform: perspective(1000px) rotateY(calc(var(--x) * 45deg))
        rotateX(calc(var(--y) * -45deg));
    }
  }
}
